@model CategoryResponsePageVM
<h1>Yeni bir kategori eklemek için <a asp-controller="Category" asp-action="CreateCategory">tıklayınız</a></h1>
<h1>Ürünleri gözlemlemek için <a asp-controller="Product1" asp-action="GetProducts">tıklayınız</a></h1>
<table class="table table-hover">
   <thead>
       <tr>
           <td>ID</td>
           <td>Kategori Ismi</td>
           <td>Açıklaması</td>
           <td colspan="2" style="padding-left:200px;">İşlemler</td>
       </tr>
   </thead>
   <tbody>
        @foreach (CategoryResponseModel item in Model.Categories)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>  <a asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@item.ID" class="btn btn-warning">Guncelle</a> </td>
                <td> <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.ID" class="btn btn-danger">Sil</a>  </td>
            </tr>
        }
    </tbody>
</table>